body {
  /*  font-family: DejaVu Sans, sans-serif; */
    font-size: 14px;
}
.container {
    display: block;
    width: 100%;
}
.container:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.col-6 {
    position: relative;
    min-height: 1px;
    float: left;
    width: 50%;
}
.information {
    margin-bottom: 30px;
}
.page{
    margin: 30px;
}
.offer-info{
    margin-bottom: 50px;
}
#offer-by, #offer-for {
    width: 90%; background-color: #f2f2f2; margin: auto;
}

#offer-by th, #offer-for th{
    background: white;
}
#products {
    width: 100%;
    margin-bottom: 50px;
}
.total{
    padding: 10px;
}
#total {
    float: right;
    width: 30%;
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
}

#products tr:nth-child(even), #services tr:nth-child(even) {
    background-color: #f2f2f2
}

#products th, #products td, #services th, #services td {
    border-bottom: 1px solid #ddd;
}

#products thead, #services thead {
    background-color: #7c7979;
}

.services td, .services th {
    padding: 10px;
}

.total-price {
    text-align: right;
    margin-right: 50px;
}